* {
  margin: 0;
  padding: 0;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}
p,
a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}
.colors div {
  width: 100%;
  height: 100px;
}
.colors .b0 {
  background-color: #BC00BC;
}
.colors .b1 {
  background-color: #CD4ECD;
}
.colors .b2 {
  background-color: #C228C2;
}
.colors .b3 {
  background-color: #930093;
}
.colors .b4 {
  background-color: #730073;
}
.colors .s10 {
  background-color: #EB0047;
}
.colors .s11 {
  background-color: #F05C89;
}
.colors .s12 {
  background-color: #EC316A;
}
.colors .s13 {
  background-color: #CA003D;
}
.colors .s14 {
  background-color: #9E0030;
}
.colors .s20 {
  background-color: #5C11C1;
}
.colors .s21 {
  background-color: #8E5BD1;
}
.colors .s22 {
  background-color: #7436C7;
}
.colors .s23 {
  background-color: #480A99;
}
.colors .s24 {
  background-color: #370778;
}
.colors .c0 {
  background-color: #CEF800;
}
.colors .c1 {
  background-color: #E0FA60;
}
.colors .c2 {
  background-color: #D7F933;
}
.colors .c3 {
  background-color: #B5DA00;
}
.colors .c4 {
  background-color: #8DAA00;
}
